[Desktop Entry]
Type=Application
Name=AulaLliure Wallpaper
Exec=/bin/sh -c "sleep 5; /usr/local/bin/aulalliure-set-wallpaper"
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
OnlyShowIn=Enlightenment;Moksha;
NoDisplay=true
