[Desktop Entry]
Type=Application
Name=EduControl Client
Exec=/usr/local/bin/educontrol-client-wrapper
Terminal=false
Categories=Education;
NoDisplay=true
Hidden=true
